<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">

  <label for="Name"><h1>Name: </h1></label>
  <input type="text" name="Name" id="Name">

  <label for="landmark_year_completed">Year Completed: </label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

  <input type="submit" id="Submit" value="Create New Landmark">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
